
body{
    font-size: 14px;
    min-width: 850px;
}

main img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: auto;
}

main i{
    color: #b1b1b1;
    font-size: 18px;
}

main #my-container #my-header{
    height: 20vh;
    background-color: #03988a;
}

main #my-container #my-main{
    height: 80vh;
    background-color: #d9dbd4;
}

main #my-container #my-wrapper-boolzapp{
    height: 90vh;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main #my-container #my-wrapper-boolzapp #my-wrapper-contact-list{
    height: 100%;
    width: 35%;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-contact-list .my-contacts-wrapper{
    overflow-y: scroll;
    height: 60vh;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-contact-list .my-contacts-wrapper .my-contact{
    border-bottom: #e9ebeb solid 2px;
    
}

main #my-container #my-wrapper-boolzapp #my-wrapper-contact-list .my-options {
    height: 10vh;
    background-color: #eaeaea;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-contact-list .my-notification-options  {
    height: 10vh;
    background-color: #8edafc;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-contact-list .my-search-input{
    height: 10vh;
    background-color: #f8f8f8;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-messages{
    height: 100%;
    width: 65%;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-messages .my-chosen-contact{
    background-color: #eaeaea;
    border-left: rgb(208, 208, 208) solid 2px;
    height: 10vh;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-messages .my-sent-messages{
    height: 70vh;
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-size: contain;
    overflow-y: scroll;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-messages .my-sent-messages .my-messages{
    width: 60%;
    border-radius: 8px;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-messages .my-sent-messages .my-sent-message{
    background-color: #d5f9ba;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-messages .my-sent-messages .my-contact-messages{
    background-color: white;
}

main #my-container #my-wrapper-boolzapp #my-wrapper-messages .my-messages-to-send{
    height: 10vh;
    background-color: #eaeaea;
    
}

main .my-data{
    font-size: 12px;
    color: rgb(175, 175, 175);
    position: absolute;
    bottom: 1px;
    right: 2px;
}

main .my-message{
    line-height: 40px;
}

main .my-contact:hover{
    background-color: #d5f9ba;
}

main .my-contact-active{
    background-color: #e9ebeb;
}